:root {
    --color1: #57d65738;
    --color2: #02b4f0; 
}

.coursesMainContainer{
    margin: 4vw 7vw 3vw 7vw;
}

.coursesDetailC {
    border-right: 1px solid var(--color2);
    padding-right: 1vw;
    margin-bottom: 3vw;
}


h2{
    margin-top: 2vw;
    text-align: center;
    border: 2px solid var(--color1);
    border-radius: 10px;
    background-color: #31bd31;
    color: white;
}




.coursesContainer{
    display: grid;
    grid-template-columns:290px 1fr;
    gap: 1vw;
    padding-bottom: 10px;
}


.coursesFilter{
    top: 10px;
    border: 1px solid rgba(128, 128, 128, 0.116);
    background-color:rgba(241, 241, 241, 0.044) ;
    border-radius: 10px;
    margin-top: 1vw;
    padding: 10px;
    height: fit-content;
}


.coursesFilter h3{
    text-align: center;
    font-size: 1.2em;
    font-weight: 500;
    margin: 2px;
    margin-bottom: 10px;
    color: black    ;
    border-bottom: 1px solid rgba(0, 0, 0, 0.27);
    padding-bottom: 10px;
}



.coursesFilter h4{
    text-align: right;
    font-size: 1.1em;
    margin: 2px 8px;
}


.coursesFilter input{
    text-align: right;
    font-size: 0.8em;
    margin-left: 10px;
    margin-right: 30px;
    margin-top: 10px;
}
.coursesFilter label{
    margin-left: 15px;
    margin-right: 15px;

}

.coursesFilter input:nth-child(1){
    margin-right: 0px;
    margin-top: 10px;
}


.coursesFilter1{
    margin-right: 15px;
    margin-left: 15px;
}
 
.coursesFilter1 input{
    margin-right: 30px;
}

table span{
    margin-left: 20px;
}
.coursesAll{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px, 32%));
    grid-auto-rows: auto;
    border: 1px solid rgba(128, 128, 128, 0.116);
    border-radius: 10px;
    margin-top: 1vw;
    gap: 10px;
    padding:10px;
    justify-content: center;
}


.courseCart{
    display: flex;
    position: relative;
    border: 1px solid rgba(128, 128, 128, 0.116);
    border-radius: 10px;
    overflow: hidden;
    height: 250px;
    transition: height ease-in-out 1s;
}

.courseCart:hover{
    background-color: white;
    z-index: 1;
}

.courseCart .cartImg{
    position: relative;
    overflow: hidden;
    opacity: 1;
    transition: 2s visibility 0s, opacity 0.5s linear;
}

.courseCart:hover .cartImg {
    opacity: 0;
    visibility: hidden;
}

.cartImg {
    width: 100%;
}
.cartImg img{
    width: 100%;
    height: 175px;
}


.cartPublisher , .cartTopic , .cartRate , .cartPrice, .cartTime{
    position: absolute;
    padding:2px;
    border-radius: 10px;
}

.cartTopic{
    margin-left: 50px;
    right: 5px;
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    
}


.cartPublisher{
    bottom: 5px;
    right: 5px;
    font-weight: 400;
    background-color: rgba(255, 255, 255, 0.688);
    color: black;
    font-size: 0.7rem;
    
}


.cartLang{
    position: absolute;
    bottom: 5px;
    right: 5px;
    font-size: 0.6rem;
    color: green;
}

.cartRate{
    bottom: 40px;
    left: 5px;
    font-size: 0.6rem;
    padding:5px;
    color: black;
}



.cartPrice{
    bottom: 5px;
    left: 5px;
    font-size: 0.8rem;
    color: green;
}


.cartTime{
    bottom: 80px;
    left: 5px;
    font-size: 0.8rem;
    background-color: rgba(255, 255, 255, 0.688);
    color: black;
    color: white;
    background-color: black;
}


.cartDetail{
    opacity: 0;
    position: absolute;
    top: 5px;
    bottom: 5px;
    right: 5px;
    left: 5px;  
    visibility: hidden;  
    transition:  2s visibility 0s, opacity 0.5s linear ;
}

.cartDetailTxt{
    overflow-y: auto;
    position: absolute;
    padding: 5px 10px;
    top: 5px;
    bottom: 50px;
    right: 10px;
    left: 10px;
}

.cartDetailTxt::-webkit-scrollbar{
    border-radius: 10px;
}

.cartDetailTxt::-webkit-scrollbar-track{
    box-shadow: inset 0 0 5px gray;
    border-radius: 20px;
}

.cartDetailTxt::-webkit-scrollbar-thumb{
    background-color: #02b4f02f;
    border-radius: 20px;

}


.cartDetailTxt p{
    font-size: 0.8rem ;
    line-height: 1.5rem;
}


.courseCart:hover .cartDetail {
    opacity: 1;
    visibility: visible;
}

.checked {
    color: gold;
    font-size:large;
  }





.FilterSubmit{
    padding: 0px;
    display: block;
    margin: 2px auto;
    text-align: center;
}

.priceSlider{
    width: 100%;
    display: flex;
    margin-bottom: 10px;
}

.slider {
    flex: 1;
    height: 10px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    margin-left: 25px;
    margin-right: 25px;
    -webkit-transition: .2s;
    transition: opacity .2s;
    align-self: center;
  }
  
  .slider:hover {
    opacity: 1;
  }

  .sliderValue {
    padding-right: 100px;
    font-weight: 500;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.688);
    border: 1px solid rgba(148, 148, 148, 0.234);
    padding: 5px;
  }
      



@media screen and (max-width:800px){

    .coursesContainer{
        display: grid;
        grid-template-columns: 1fr;
    }
}



.YouTube , .Coursera{
    direction: ltr;
}


.cartLink{
    position: absolute;
    text-align: center;
    margin-top: 0px;
    bottom: 2px;
    right: 5px;
    left: 5px;
    width: 100%;
}