:root {
    --color1: #57d65738;
    --color2: #02b4f0;
    --color2-1: #02b4f064;
}




.aboutContainer{
    display: grid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 18vw;
    background-color: var(--color1);
}

.aDetail{
    padding: 5vw;
}


.aPic{
    display: flex;
    align-items: center;
    justify-content:center;
}

.aPic img{
    width: 50%;
}